# Set URL for your scoped packages.
# For example package with name `@cnx-grp/my-package` will use this URL for download
registry=https://git.pkglobal.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
//git.pkglobal.com/api/v4/packages/npm/:_authToken=BB_XFBJ1KRC_dZrPEGxB

# Add token for uploading to the registry
//git.pkglobal.com/api/v4/projects/1031/packages/npm/:_authToken=BB_XFBJ1KRC_dZrPEGxB