# Set URL for your scoped packages.
# For example package with name `@cnx-grp/my-package` will use this URL for download
 @cnx-grp:registry=https://gitlab.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
//gitlab.com/api/v4/packages/npm/:_authToken=7dLJwVc2aw9fKaxGPds8
